.DS_Store
.idea/*
*.iml
*.sublime-project
*.sublime-workspace
composer.lock
composer.phar
/nbproject/
/vendor
/codeception/acceptance/WebGuy.php
/codeception/functional/TestGuy.php
/codeception/unit/CodeGuy.php
.buildpath
.project
.settings/org.eclipse.php.core.prefs
.settings/org.eclipse.wst.common.project.facet.core.xml
