.DS_Store
.idea/*
*.iml
*.sublime-project
*.sublime-workspace
composer.lock
composer.phar
/nbproject/
/vendor
/codeception/acceptance/WebGuy.php
/codeception/functional/TestGuy.php
/codeception/unit/CodeGuy.php
.vagrant
Vagrantfile
