#  Phalcon Framework
#
#  Copyright (c) 2011-2016 Phalcon Team (https://www.phalconphp.com)
#
#  This source file is subject to the New BSD License that is bundled
#  with this package in the file LICENSE.txt.
#
#  If you did not receive a copy of the license and are unable to
#  obtain it through the world-wide-web, please send an email
#  to license@phalconphp.com so we can send you a copy immediately.

language: php

dist: trusty
sudo: required

php:
  - 5.5
  - 5.6

matrix:
  include:
    - php: 7.0
      env: ZEND_BACKEND="--backend=ZendEngine3"

services:
  - memcached
  - redis
  - mongodb
  - mysql

git:
  depth: 1

cache:
  apt: true
  ccache: true
  timeout: 691200
  directories:
    - .temp
    - vendor
    - $HOME/.ccache
    - $HOME/.composer/cache

env:
  global:
    - ZEND_DONT_UNLOAD_MODULES=1
    - CC="ccache gcc"
    - PATH="$PATH:~/bin"
    - PHALCON_VERSION="v3.0.2"

before_install:
  - phpenv config-rm xdebug.ini || true
  - sudo ln -s /home/travis/.phpenv/versions/$(phpenv version-name)/bin/phpize /usr/bin/
  - sudo ln -s /home/travis/.phpenv/versions/$(phpenv version-name)/bin/php-config /usr/bin/
  - export PHP_MAJOR="$(echo $TRAVIS_PHP_VERSION | cut -d '.' -f 1,2)"
  - if [[ ! -z "${GH_TOKEN}" ]]; then composer config github-oauth.github.com ${GH_TOKEN}; echo "Configured Github token"; fi;
  # Install dev-dependencies
  - travis_retry composer install --prefer-dist --no-interaction --ignore-platform-reqs
  - travis_retry composer require "phalcon/zephir:dev-master" --ignore-platform-reqs
  - travis_retry composer require duncan3dc/fork-helper:$(if [[ "${PHP_MAJOR:0:1}" = "7" ]]; then echo "^2.0"; else echo "^1.0"; fi) --ignore-platform-reqs

install:
  - ( bash tests/_ci/install_zephir.sh )
  # See https://github.com/aerospike/aerospike-client-php/issues/127
  - '[[ "${PHP_MAJOR:0:1}" == "7" ]] || bash ${TRAVIS_BUILD_DIR}/tests/_ci/install_aerospike.sh'
  - git clone -q --depth=1 https://github.com/phalcon/cphalcon.git -b ${PHALCON_VERSION}
  - ln -s ${TRAVIS_BUILD_DIR}/.temp ${TRAVIS_BUILD_DIR}/cphalcon/.temp
  - ( cd cphalcon; zephir fullclean && zephir generate $ZEND_BACKEND )
  - ( cd cphalcon/ext; export CFLAGS="-g3 -O1 -std=gnu90 -Wall -DZEPHIR_RELEASE=1"; /usr/bin/phpize &> /dev/null && ./configure --silent --enable-phalcon &> /dev/null && make --silent -j3 &> /dev/null && make --silent install )
  - phpenv config-add tests/_ci/phalcon.ini
  - phpenv config-add tests/_ci/redis.ini
  - if [[ "${PHP_MAJOR:0:1}" != "7" ]]; then phpenv config-add tests/_ci/mongo.ini; fi;
  - phpenv config-add tests/_ci/mongodb.ini
  - phpenv config-add tests/_ci/memcached.ini
  - pecl channel-update pecl.php.net
  - if [[ "${PHP_MAJOR:0:1}" = "7" ]]; then printf "\n" | pecl install yaml-2.0.0 > /dev/null 2>&1; else printf "\n" | pecl install yaml > /dev/null 2>&1; fi;

before_script:
  - stty cols 160
  # Create database and user
  - echo 'CREATE DATABASE incubator CHARSET=utf8 COLLATE=utf8_unicode_ci' | mysql -u root
  - echo "CREATE USER 'incubator'@'%' IDENTIFIED BY 'secret'" | mysql -u root
  - echo "GRANT ALL PRIVILEGES ON incubator.* TO 'incubator'@'%' WITH GRANT OPTION" | mysql -u root
  - cat ${TRAVIS_BUILD_DIR}/tests/_data/dump.sql | mysql -u root incubator
  # See https://github.com/aerospike/aerospike-client-php/issues/127
  - '[[ "${PHP_MAJOR:0:1}" == "7" ]] || bash ${TRAVIS_BUILD_DIR}/tests/_ci/install_aserver.sh'

script:
  - vendor/bin/phpcs
  - vendor/bin/codecept build
  - vendor/bin/codecept run

notifications:
  email:
    recipients:
      - build@phalconphp.com
    on_success: change
    on_failure: always

addons:
  apt:
    packages:
      - re2c
      - beanstalkd
      - python-bcrypt
      - build-essential
      - autoconf
      - libssl-dev
      - libyaml-dev
      - liblua5.1-dev
      - mysql-server-5.6
      - mysql-server-core-5.6
      - mysql-client-5.6
  hosts:
    - db
    - incubator.local
