language: php

env:
  - PHALCON_VERSION="2.0.x"
  - PHALCON_VERSION="2.0.0"

install:
  - tests/memcached.sh

before_script:
  - ./tests/install-php-extension.sh ${PHALCON_VERSION}
  - php -r 'echo \Phalcon\Version::get()."\n";'
  - composer self-update
  - composer update

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6

script:
  - php vendor/bin/phpcs --standard=PSR2 --encoding=utf-8 Library/
  - phpunit --configuration tests/phpunit.xml.dist --coverage-clover=coverage.clover

after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover

services:
  - memcached
