<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="./bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false"
         syntaxCheck="true"
         testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader">
    <testsuite name="Phalcon Incubator Test Suite">
        <directory>./</directory>
    </testsuite>

    <filter>
       <blacklist>
            <directory suffix=".php">../docs</directory>
        </blacklist>
        <whitelist>
            <directory suffix=".php">../Library/Phalcon</directory>
        </whitelist>
    </filter>
</phpunit>
