<?xml version="1.0" encoding="utf-8"?>

<phpunit bootstrap="./bootstrap.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false"
         syntaxCheck="false"
>

    <testsuite name="Phalcon Incubator Test Suite">
        <directory>./</directory>
    </testsuite>

    <filter>
       <blacklist>
            <directory suffix=".php">../docs</directory>
        </blacklist>
        <whitelist>
            <directory suffix=".php">../Library/Phalcon</directory>
        </whitelist>
    </filter>
</phpunit>
